.signup-popup-right {
  width: 50%;
}
.signup-popup-left {
  width: 50%;
  background-color: #1b4289;
}
.signup-popup-right img {
  width: 300px;
  height: 300px;
  margin-top: 90px;
}
.username-signup,
.email-signup,
.password-signup,
.phone-signup {
  margin-bottom: 19px !important;
  background-color: #ffffff !important;
  height: 50px !important;
  border-radius: 50px !important;
  border: 1px solid #ffffff !important;
}
.signup-popup {
  display: flex;
  border-radius: 50px !important;
}

.sign-up-title {
  color: #fed047;
  text-align: center !important;
  font-size: 25px !important;
}

.sign-up-title2 {
  color: #ffffff !important;
  font-size: 1rem !important;
  margin-bottom: 20px !important;
  text-align: center;
}

.section-signup-btn {
  display: flex;
  justify-content: center;
}

.signUp-btn {
  border-radius: 50px !important;
  width: 50% !important;
  color: #1b4289 !important;
  background-color: #fed047 !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.username-signup fieldset {
  display: none;
}

.email-signup fieldset {
  display: none;
}

.password-signup fieldset {
  display: none;
}

.phone-signup fieldset {
  display: none;
}
