:root {
  --primary-color: #1b4289;
  --secondary-color: #fed047;
  --text-color: #626687;
}

body {
  font-family: "Bree Serif", serif;
}

.hero-section {
  display: flex;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6rem;
  line-height: 2rem;
}

.hero-title1 {
  color: var(--primary-color);

  font-family: "Bree Serif", serif !important;
}
.hero-title2 {
  color: var(--secondary-color);
  font-family: "Bree Serif", serif !important;
}

.hero-subtitle {
  font-size: 18px;
  padding-top: 20px;
  color: var(--text-color);
}

.hero-img {
  padding-top: 4rem;
}

.hero-img img {
  width: 37vw;
}

.hero-searchInput {
  margin-top: 20px;
  width: 30vw;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #1b4189a0;
}

.searchhh {
  position: relative;
}

.serach-btn {
  position: absolute;
  border: none;
  height: 35px;
  left: 369px !important;
  top: 22px !important;
  border-radius: 50px;
  background-color: var(--secondary-color);
}
.searchicon {
  color: #1b4289;
}

.newest-houses {
  background-color: #fbfbfb;
  position: relative;
}
.newest-houses-title {
  padding: 50px 0px 100px 100px;
  color: #1b4289;
  font-family: "Bree Serif", serif !important;
}

.new {
  position: relative;
}
.newest-houses-title::before {
  content: " ";
  position: absolute;
  top: 94px;
  left: 100px;
  width: 123px;
  height: 3px;
  color: #fed047;
  background-color: #fed047;
}

.card-conatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-around;
  padding: 0px 80px;
}
