:root {
    --primary-color:#1B4289;
    --secondary-color:#FED047;
    --text-color:#626687;
  }

  /* hero section */

.hero-section{
    display: flex;
    height:100vh;
    
  }

  .hero-content{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 6rem;
    line-height: 2rem;
  }

.hero-title1{
    color: var(--primary-color);
    font-weight: bolder;
}
.hero-title2{
    color:var(--secondary-color);
}

.hero-subtitle{
    font-size: 18px;
    padding-top: 20px;
    color:var(--text-color);
}

.hero-img{
   
    padding-top: 6rem;

}

.hero-img img{
    width:37vw;
}

.hero-searchInput{
    /* position:relative; */
    margin-top: 20px;
    width:30vw;
    padding: 10px;
    border-radius: 50px;
    border:2px solid #1b4189a0;   
}

.serach-btn{
    position: absolute;
    border: none;
    height: 35px;
    left:372px;
    top: 22px;
    border-radius: 50px;
    background-color: var(--secondary-color);

}
.searchicon{
   
    color:#1B4289;
}


.searchhh{
    position:relative;
}

/* Newest Section */
.newest-houses{
    background-color:#FBFBFB;
    height:300px;
    position:relative;

}
.newest-houses-title{
    padding:20px 0px 0px 100px;
    color:#1B4289;
    
}
.new{
    position: relative
}
.newest-houses-title::before{
    content: " ";
    position: absolute;
    top: 62px;
    left: 103px;
    width: 123px;
    height: 3px;
    color: #FED047;
    background-color: #FED047;
}

.card-conatiner{
    display: flex;
    flex-wrap: wrap;
    gap:3px;
    justify-content: space-around;
    
}




