body{
    margin: 0;
    padding: 0;
}
.header{
    background-color:#1B4289;
}
.Logo{
    width:60px;
    height:60px;
    padding-left: 90px;
}
.MuiBox-root{
    justify-content: center;
    gap:30px;
}


.login-btn{
    width:6vw;
    height:30px;
    background-color: #FED047; 
    border:none;
    border-radius: 50px;
    color:#1B4289;
    font-size: 1rem;
    font-style: bold;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-right:10px;  
}

.signup-btn{
    border-radius: 50px;
    background-color: #1B4289;
    border:2px solid #FED047;
    width: 6vw;
    height:30px;
    color:#FFFFFF;
   
}

