body{
    margin: 0;
    padding: 0;
}
.header{
    background-color:#1B4289;
}
.Logo{
    width:60px;
    height:60px;
    padding-left: 90px;
}
.MuiBox-root{
    justify-content: center;
    gap:30px;
    
    
}


.login-btn{
    width:8vw;
    height:40px;
    background-color: #FED047; 
    border:none;
    border-radius: 50px;
    color:#1B4289;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif !important;
    margin-right:10px; 
    
}

.signup-btn{
    border-radius: 50px;
    background-color: #1B4289;
    border:2px solid #FED047;
    width: 8vw;
    height:40px;
    color:#FFFFFF;
    font-family: 'Bree Serif', serif !important;
    font-size: 1.2rem;
   
}

