body{
    margin: 0;
    padding: 0;
}
.header{
    background-color:#1B4289;
}
.Logo{
    width:60px;
    height:60px;
    padding-left: 90px;
}
.MuiBox-root{
    justify-content: center !important;
    gap:30px;
    
    
}

.nav-links{
    color:white;
    text-decoration: none;
    font-family: 'Bree Serif', serif !important;

}
.nav-links:hover{
    color:#FED047;
   
    
}

.nav-links::after{
    content: "";
display: block;
width: 0;
height: 1.5px;
background-color: #ffcf00;
transition: width 0.5s;

}
.nav-links:hover::after {
width: 100%;
}
.nav-links::after {
width: 0;
}

.header-link{
    text-decoration: none;
}












.login-btn{
    width:8vw;
    height:40px;
    background-color: #FED047; 
    border:none;
    border-radius: 50px;
    color:#1B4289;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif !important;
    margin-right:10px; 
    
}

.signup-btn{
    border-radius: 50px;
    background-color: #1B4289;
    border:2px solid #FED047;
    width: 8vw;
    height:40px;
    color:#FFFFFF;
    font-family: 'Bree Serif', serif !important;
    font-size: 1.2rem;
   
}

